.toast {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 200px;
    border-radius: 6px;
    background: #fefefe;
    border: #ccc 1px solid;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0, 0.4);
    padding: 15px;
    margin-top: 15px;
}

.print-button {
    background-blend-mode: overlay;
    display: flex;
    margin-left: auto;
}